/* Universal */
a {
  color: inherit;
  text-decoration: none;
  transition: color .25s, background .25s;
}
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
/* Reusable */
.broken-hr {
  width: 100%;
}
.broken-hr .broken-hr-left,
.broken-hr .broken-hr-right {
  width: 50%;
}
.broken-hr .broken-hr-text {
  white-space: nowrap;
}
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.button-style {
  display: inline-block;
  background: #462d72;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  line-height: 1;
  text-decoration: none;
  color: #eaeaea;
}
.button-style:hover {
  background: #226661;
  color: #eaeaea;
}
/* Navigation */
.primary {
  float: right;
}
.primary .menu > li {
  float: left;
}
.primary .menu > li:first-child {
  margin-left: 0;
}
.primary .menu a {
  position: relative;
  display: inline-block;
}
.primary .menu li:hover .sub-menu,
.primary .menu li:hover .children {
  display: block;
}
.primary .menu .sub-menu,
.primary .menu .children {
  display: none;
  position: absolute;
  z-index: 90;
}
.primary .menu .sub-menu li,
.primary .menu .children li {
  float: none;
  margin-left: 0;
  white-space: nowrap;
}
/* Blog */
.blog-posts .blog-post:first-child {
  padding-top: 0;
}
.blog-posts .blog-post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.single .blog-post {
  border-bottom: none;
}
.pagination {
  margin-top: 1em;
}
/* Text meant only for screen readers */
.says,
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
/* Colors */
/* Fonts */
.sans {
  font-family: Helvetica, sans-serif;
}
.serif {
  font-family: Georgia, serif;
}
/* Social plugin settings */
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #462d72;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.8;
  font-size: 1em;
  color: #222222;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
a {
  text-decoration: underline;
  color: #462d72;
}
a:hover {
  color: #226661;
}
h1 {
  font-size: 2.618em;
}
h2 {
  font-size: 1.618em;
}
h3 {
  padding-left: 1px;
  font-size: 0.8em;
}
h1 + h3 {
  margin-top: -2em;
}
h2 + h3 {
  margin-top: -1em;
}
p.button a {
  display: inline-block;
  background: #462d72;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  line-height: 1;
  text-decoration: none;
  color: #eaeaea;
}
p.button a:hover {
  background: #226661;
  color: #eaeaea;
}
ul,
ol {
  padding: 0;
  margin: 1em 0 1em 40px;
}
ul li,
ol li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
ul li {
  list-style-type: disc;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection {
  background: rgba(34, 102, 97, 0.6);
}
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
a::-moz-selection {
  background: rgba(34, 102, 97, 0.6);
}
p::selection,
ul::selection,
ol::selection,
blockquote::selection,
table::selection,
p.button a::selection {
  background: rgba(70, 45, 114, 0.6);
}
p::-moz-selection,
ul::-moz-selection,
ol::-moz-selection,
blockquote::-moz-selection,
table::-moz-selection,
p.button a::-moz-selection {
  background: rgba(70, 45, 114, 0.6);
}
/* Images */
.alignright,
.alignleft,
.aligncenter,
.alignnone {
  margin-bottom: 1em;
}
.alignleft {
  float: left;
  margin-right: 2%;
}
.alignright {
  float: right;
  margin-left: 2%;
}
.wp-caption-text {
  padding-left: 2px;
  padding-right: 2px;
  margin-top: .2em;
  color: #a5a5a5;
  font-size: 0.8em;
  line-height: 1.2;
}
/* Block Quotes */
blockquote {
  background: #efefef;
  border-left: 10px solid #a5a5a5;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  margin-right: 0.25em;
  vertical-align: -0.4em;
  content: open-quote;
  color: #a5a5a5;
  font-size: 4em;
  line-height: 0.1em;
}
blockquote p {
  display: inline;
}
/* Tables */
table {
  border-collapse: collapse;
}
table tr:nth-child(even) {
  background: #efefef;
}
table tr:nth-child(odd) {
  background: #a5a5a5;
}
table tr:first-child,
table tr td:first-child {
  background: #462d72;
  color: #eaeaea;
}
table td {
  border: 1px solid #222222;
  padding: 5px 10px;
}
/* Gravity Forms */
.gform_wrapper .gfield {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.gform_wrapper .gfield_label {
  color: #222222;
  font-family: Helvetica, sans-serif;
}
.gform_wrapper .gform_footer input.button,
.gform_wrapper input[type=submit] {
  display: inline-block;
  background: #462d72;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  line-height: 1;
  text-decoration: none;
  color: #eaeaea;
}
.gform_wrapper .gform_footer input.button:hover,
.gform_wrapper input[type=submit]:hover {
  background: #226661;
  color: #eaeaea;
}
