/* Typography */
h1, h2, h3, h4, h5, h6 {
	margin-top: 1em;
	margin-bottom: 0.5em;

	color: $c1;
	@extend .f1;
	
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

p {
	margin-top: 0;
	margin-bottom: 1em;
	
	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

p, ul li, ol li {
	line-height: 1.8;
	font-size: 1em;
	color: $dark;
	@extend .f1;
}

ul, ol {
	padding: 0;
	margin: 1em 0 1em 40rem;
	
	li {
		margin-top: 0.25em;
		margin-bottom: 0.25em;
		list-style-type: disc;
	}
}

a {
	text-decoration: none;
	color: $c1;
	
	&:hover {
		color: $c2;
	}
}

h1 {
	font-size: 2.618em;
}

h2 {
	font-size: 1.618em;
}

h1, h2, h3, h4, h5, h6, a {
	&::selection {
		background: fade-out($c2, .40);
	}
	
	&::-moz-selection {
		background: fade-out($c2, .40);
	}
}

p, ul, ol, blockquote, table, p.button a {
	&::selection {
		background: fade-out($c1, .40);
	}

	&::-moz-selection {
		background: fade-out($c1, .40);
	}	
}

hr {
	margin-top: 0;
	margin-bottom: 1em;
	height: 1rem;
	background: $c1;
	border: none;
}

p.button {
	a {
		@extend .button-style;
	}
}

/* Images */
img {
	display: inline;
}

.alignright, .alignleft, .aligncenter, .alignnone {
	margin-bottom: 1em;
}

.alignleft {
	float: left;
	margin-right: 2%;
}

.alignright {
	float: right;
	margin-left: 2%;
}

.wp-caption {
	max-width: 100%;
}

.wp-caption-text {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: .2em;
	color: $grey;
	font-size: 0.8em;
	line-height: 1.2;
	text-align: center;
}

/* Tables */
table {
	border-collapse: collapse;
	margin-bottom: 1em;
	
	tr:nth-child(even) {
		background: $grey;
	}
	
	tr:nth-child(odd) {
		background: $light;
	}
	
	// Top row, and left-most column
	tr:first-child, tr td:first-child {
		background: $c1;
		color: $light;
	}
	
	td {
		border: 1rem solid $dark;
		padding: 5rem 10rem;
	}
}

/* Gravity Forms */
.gform_wrapper {
	.gfield {
		margin-top: 0;
		margin-bottom: 1.5em;
	}
	
	.top_label li.gfield.gf_left_half, .top_label li.gfield.gf_right_half {
		margin-bottom: 1.5em;
	}
	
	.gfield_label, .top_label .gfield_label {
		margin: 0;
		color: $dark;
		font-weight: normal;
		@extend .f1;
	}
	
	label.gfield_label+div.ginput_container {
		margin-top: 0;
	}
	
	.gform_footer {
		padding: 0;
		margin: 0;
	}
	
	.gform_footer input.button, input[type=submit] {
		display: inline-block;

		background: $c3;

		border: none;
		margin-top: 0;
		padding: 15rem 25rem;

		font-size: 18rem;
		color: $light;
		letter-spacing: .11em;
		text-transform: uppercase;
		font-weight: 700;

		&:hover {
			background: $c1;
		}
	}
	
	.gfield_date_day label, .gfield_date_month label, .gfield_date_year label, .gfield_time_ampm label, .gfield_time_hour label, .gfield_time_minute label, .ginput_complex label, .instruction {
		font-size: 0.7em;
	}
}