/* Mobile Menu */
.mobile-menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: fade-out($c1, .05);

	text-align: center;

	z-index: 100;
	
	> .close {
		position: fixed;
		top: 0;
		right: 0;

		padding: 10rem 20rem 20rem;

		font-size: 18rem;
		color: #fff;

		cursor: pointer;
	}
	
	> .primary-menu .menu {
		margin-top: 60rem;
		border-bottom: 1rem solid $grey;
		border-top: 2rem solid $dark;
		
		li {
			border-top: 1rem solid $grey;
			border-bottom: 2rem solid $dark;
			
			a, a:hover {
				position: relative;
				display: block;

				padding: 10rem 50rem;

				color: $light;
				font-size: 24rem;
				font-weight: normal;
			}
			
			a:active {
				background: $c2;
				color: $c1;
			}
			
			> .sub-menu {
				display: none;
				background: fade-out($light, .10);

				li {
					border-bottom: 1rem solid $dark;
					border-top: none;

					a, a:hover {
						color: $c1;
					}

					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
		
		& li.menu-item-has-children > a:after {
			display: inline-block;
			position: absolute;
			right: 16rem;
			@extend .vcenter;

			@extend .fa;
			@extend .fa-chevron-right;

			color: $c2;
		}
		
		& li.menu-item-has-children.open {
			border-bottom: none;
			
			& > a:after {
				@extend .fa-chevron-down;
			}	
		}		
	}
}

.mobile-toggle {
	display: none;
	position: fixed;
	top: 10rem;
	right: 10rem;

	padding: 5rem 10rem;
	border: 1rem solid $dark;

	background: $c1;
	
	color: $light;
	
	cursor: pointer;
	z-index: 10;
	box-shadow: none;
}

@media (max-width: 768px) {
	.mobile-toggle {
		display: block;
	}
	
	.header .primary {
		display: none;
	}
}